:root {
	--main-background: url("../img/background.jpg");
	--upload-icon: url("../img/upload.png");
	--drag-icon: url("../img/drag.png");
	--square-background: url("../img/transparent.svg");
	--font: 'Trebuchet MS', Calibri, sans-serif;
	--text-color: #eee;
	color-scheme: dark;
}

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100vh;
	background-image: var(--main-background);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	overflow: hidden;
}

body {
	height: 100%;
	font-size: 18px;
	font-family: var(--font);
	color: var(--text-color);
	user-select: none;
	overflow: hidden;
}